@font-face {
    font-family: 'Pokemon Classic';
    src: url('./assets/Pokemon-Font.ttf');
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    font-family: 'Pokemon Classic';
    text-align: center;
}

h1 {
    font-size: 3vmin;
}

a {
    font-size: 2vmin;
}